<nav class="navbar navbar-top navbar-expand-md navbar-dark" id="navbar-main">
  <div class="container-fluid">
    <!-- Brand -->
    <!-- Form -->
      <div >
      
         
         
         
        
      </div>
    <!-- User -->
    
    <ul class="navbar-nav align-items-center d-none d-md-flex" >
      <li class="nav-item" ngbDropdown placement="bottom-right">
        <a class="nav-link pr-0" role="button" ngbDropdownToggle>
          <div class="media align-items-center" >
            <span class="avatar avatar-sm rounded-circle">
              <img alt="Image placeholder" src="https://www.leparisien.fr/resizer/DCZrGTWaS7GxjQm21JeDKoaK0wA=/932x582/arc-anglerfish-eu-central-1-prod-leparisien.s3.amazonaws.com/public/5G67LGLTUAQX5M73AGWHJSBEE4.jpg">
            </span>
            <div class="media-body ml-2 d-none d-lg-block">
              <span class="mb-0 text-sm  font-weight-bold">Bonjour</span>
            </div>
          </div>
        </a>
        <div class="dropdown-menu-arrow dropdown-menu-right" ngbDropdownMenu>
          <div class=" dropdown-header noti-title">
            <h6 class="text-overflow m-0">Bienvenue</h6>
          </div>
          <div class="dropdown-divider"></div>
          <a href="#!" class="dropdown-item">
            <i class="ni ni-user-run"></i>
            <span>Logout</span>
          </a>
        </div>
      </li>
    </ul>
  
  </div>
</nav>
