<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 100px; background-size: cover; background-position: center top;"></div>
    <span class="mask bg-gradient-success opacity-8"></span>

<!-- Header container -->
<div class="container-fluid d-flex align-items-center">
  <!--<div [disable]="log()">--> 
    <div class="row">
      <div class="col-lg-7 col-md-10">
        <h2 class="display-2 text-white">Formulaire d'ajout d'un utilisateur</h2>
        <p class="text-white mt-0 mb-6">Ici vous trouvez le formulaire permetant l'ajout d'utilisateur</p>
        <!--<a href="#!" class="btn btn-info">Edit profile</a>-->
        <br>
        <br>
      </div>
    </div>
  <!--</div>-->
</div>
<div class="container-fluid mt--7">
  <div class="row"> <!--[disabled]="log()"-->
  <div class="col-xl-8 order-xl-1">
    <div class="card bg-secondary shadow">
      <div class="card-header bg-white border-0">
        <div class="row align-items-center" >
          <div class="col-8">
            <h3 class="mb-0">Formulaire</h3>
          </div>
          <div class="col-4 text-right">
            <!--<a href="#!" class="btn btn-sm btn-primary">Settings</a>-->
            <br>
          </div>
        </div>
      </div>
      <div class="card-body">
        <form (ngSubmit)="saveUtilisateur()">
          <div>
            <p class="text-black mt-0 mb-6">Formulaire</p>
          </div>
          <div class="pl-lg-8">
            <div class="row">
              <div class="col-lg-6">
                <div class="form-group">
                  <label class="form-control-label">Username</label>
                  <input [(ngModel)]="utilisateur.username" type="text" class="form-control form-control-alternative" placeholder="Nom d'utilisateur ?">
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <label class="form-control-label">Mot de passe</label>
                  <input [(ngModel)]="utilisateur.password" type="text" class="form-control form-control-alternative" placeholder="Mot de passe ?">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <div class="form-group">
                  <label class="form-control-label">Nom</label>
                  <input [(ngModel)]="utilisateur.nomUtilisateur" type="text" class="form-control form-control-alternative" placeholder="Nom ?">
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <label class="form-control-label">Prenom</label>
                  <input [(ngModel)]="utilisateur.prenomUtilisateur" type="text" class="form-control form-control-alternative" placeholder="Prenom ?">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <div class="form-group">
                  <label class="form-control-label">Age</label>
                  <input [(ngModel)]="utilisateur.age" type="number" class="form-control form-control-alternative" placeholder="Age ?">
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <label class="form-control-label">Role</label>
                  <select class="form-control"> 
                    <option></option>
                    <option value="Admin">Admin</option>
                    <option value="Patient">Patient</option>
                    <option value="Médecin">Médecin</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <div class="form-group">
                 <label class="form-control-label">Validation</label>
                </div>
              </div>
             <div class="col-sm">
              <div class="form-group">
                  <button class="btn btn-success">Ajouter</button>
               </div>
             </div>
            </div>
          </div>
        </form>
        <div class="row">
          <div class="col-auto">
            <div class="icon icon-shape bg-success text-white rounded-circle shadow">
              <i class="fas fa-users"><br></i>
          </div>
          <div class="col-auto">
            <p class="text-black mt-0 mb-6">Liste des utilisateurs</p>
          </div>
        </div>
        <table class="table align-items-center table-flush">
          <tr class="thead-light">
              <th>Id</th>
              <th>Nom</th>
              <th>Prenom</th>
              <th>Username</th>
              <th>Password</th>
              <th>Age</th>
              <th>Roles</th>
              <th>Action</th>
          </tr>
          <tr *ngFor= "let u of utilisateurs" class="thead-light">
              <td>{{u.idUtilisateur}}</td>
              <td>{{u.nomUtilisateur}}</td>
              <td>{{u.prenomUtilisateur}}</td>
              <td>{{u.username}}</td>
              <td>{{u.password}}</td>
              <td>{{u.age}}</td>
              <td>{{u.roles}}</td>
              <td><button (click)="deleteUtilisateur(u.idUtilisateur)">Delete</button></td>
            </tr>
        </table>
       </div>
      </div> 
    </div>
  </div>
</div>
<div class="container-fluid mt--7"><!--[disabled]=!log()-->
  <h2> Page Uniquement accessible à l'administrateur</h2>
</div>