<!-- Entete de la page avec le titre -->
<div class="header bg-gradient-success pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row">
        <div class="col-lg-7 col-md-10">
          <h2 class="display-2 text-white">{{ titrePage }}</h2>
          <!--<p class="text-white mt-0 mb-6"></p>-->
        </div>
      </div>
    </div>

    <!-- Formulaire pour planifier une consultation -->
    <div class="card shadow">   
      <!-- Entete du formulaire -->
      <div class="card-header bg-white border-0">
        <div class="row align-items-center">
          <div class="col-8">
            <h3 class="mb-0">{{ FormAddConsultationTitle }}</h3>
          </div>
        </div>
      </div>
      <!-- Corps du formulaire -->
      <div class="card-body">
        <form (ngSubmit)="saveConsultation()">
          <div class="pl-lg-8">
            <!-- Champ ID Patient -->
            <div class="row">
              <div class="col-lg-6">
                <div class="form-group">
                  <label class="form-control-label">IdPatient</label>
                  <input [(ngModel)]="consultation.idPatient" type="text" name="idPatientC" class="form-control form-control-alternative" placeholder="Identitifiant du patient">
                </div>
              </div>
            </div>
            <!-- Champ ID medecin -->
            <div class="row">
              <div class="col-lg-6">
                <div class="form-group">
                  <label class="form-control-label">IdMedecin</label>
                  <input [(ngModel)]="consultation.idMedecin" type="text" name="idMedecinC" class="form-control form-control-alternative" placeholder="Identitifiant du medecin">
                </div>
              </div>
            </div>
            <!-- Champ Date et Heure -->
            <div class="row">
              <div class="col-lg-6">
                <div class="form-group">
                  <label class="form-control-label">Date et heure</label>
                  <input [(ngModel)]="consultation.date" name="dateC" type="datetime-local" min="2022-01-25T08:00" max="2023-01-25T22:00" step="1800" class="form-control form-control-alternative" placeholder="">
                </div>
              </div>
            </div>
            <!-- Champ Motif de la visite -->
            <div class="row">
              <div class="col-lg-6">
                <div class="form-group">
                  <label class="form-control-label">Motif Visite</label>
                  <input [(ngModel)]="consultation.motifConsultation" type="text" name="motifC" class="form-control form-control-alternative" placeholder="Motif de la consultation">
                </div>
              </div>
            </div>
            <!-- Bouton de validation du formulaire -->
            <div class="row">
              <div class="col-lg-6">
                <div class="form-group">
                  <label class="form-control-label"></label>
                  <button class="btn btn-success">Valider</button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>

    <br><br>

    <!-- Tableau d'affichage de l'historique des consultations -->
    <div class="card shadow">
      <!-- Entete de l'historique -->
      <div class="card-header bg-white border-0">
        <div class="row align-items-center">
          <div class="col-8">
              <h3 class="mb-0">Historique des consultations</h3>
          </div>
        </div>
      </div>
      <!-- Corps de l'historique -->
      <div class="card-body">
        <button class="btn btn-info" (click)="findAll()">Rafraîchir</button>
        <br>
        <!-- Tableau qui liste l'historique -->
        <table class="table align-items-center table-flush">
          <!-- Entete du tableau d'historique -->
          <thead class="thead-light">
            <tr>
            <th scope="col">Id consultation</th>
            <th scope="col">Id patient</th>
            <th scope="col">Id Medecin</th>
            <th scope="col">Date</th>
            <th scope="col">Motif de la consultation</th>
            <th></th>
            </tr>
          </thead>
          <!-- Corps du tableau d'historique -->
          <tbody *ngFor="let c of consultations">
            <tr>
              <th scope="row">
                {{c.idConsultation}}
              </th>
              <th scope="row">
                {{c.idPatient}}
              </th>
              <th scope="row">
                {{c.idMedecin}}
              </th>
              <th scope="row">
                {{ c.date | date: 'dd/MM/yyyy, h:mm a'}}
              </th>
              <th scope="row">
                {{c.motifConsultation}}
              </th>
              <td>
                <button class="btn btn-danger" (click)="deleteConsultation(c.idConsultation)">Supprimer</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div> 
</div>