<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 100px; background-size: cover; background-position: center top;">
    <span class="mask bg-gradient-danger opacity-8"></span>
</div>
<br>
<form>
    <div class="pl-lg-4">
      <div class="row">
        <div class="col-lg-6">
          <div class="form-group">
            <label class="form-control-label">Nom du médicament</label>
            <input type="text" class="form-control form-control-alternative" placeholder="Nom">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form-group">
            <label class="form-control-label">Description du médicament</label>
            <input type="text" class="form-control form-control-alternative" placeholder="Description">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <div class="form-group">
            <label class="form-control-label">En stock</label>
            <input type="number" class="form-control form-control-alternative" placeholder="Combien en avez-vous en stock ?">
          </div>
        </div>
      </div>
    </div>
</form>