<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="background-size: cover; background-position: center top;">
    <span class="mask bg-gradient-success opacity-8"></span>
</div>
<br>
<h3 style="text-align: center;">Ajouter un médicament</h3>
<br>
<form (ngSubmit)="saveMedicament()">
    <div class="pl-lg-4">
      <div class="row">
        <div class="col-lg-4">
          <div class="form-group">
            <label class="form-control-label">Nom du médicament</label>
            <input type="text" class="form-control form-control-alternative" name="nomM" [(ngModel)]="medicament.nomMedicament" placeholder="Nom">
          </div>
        </div>
        <div class="col-lg-4">
          <div class="form-group">
            <label class="form-control-label">Description du médicament</label>
            <input type="text" class="form-control form-control-alternative" name="descM" [(ngModel)]="medicament.descMedicament" placeholder="Description">
          </div>
        </div>
        <div class="col-lg-4">
          <div class="form-group">
            <label class="form-control-label">Combien voulez-vous en stocker</label>
            <input type="number" class="form-control form-control-alternative" name="quantM" [(ngModel)]="medicament.quantMedicament" placeholder="Combien en avez-vous en stock ?">
          </div>
        </div>
        <div class="d-grid gap-2 col-1 mx-auto">
          <button class="btn btn-success">Ajouter</button>
        </div>
      </div>
    </div>
</form>
<br>
<h3 style="text-align: center;">Les médicaments actuellement en stock</h3>
<br>
  <div class="row">
    <div class="col-lg-12">
      <div class="d-grid gap-2 col-6 mx-auto">
        <form (ngSubmit)="onSubmit()">
          <div>
            <label>Rechercher par nom</label>
            <input type="text" class="form-control form-control-alternative" name="nomMed" placeholder="Nom du médicament" required [(ngModel)]="nomMedicament">
          </div>
          <br>
          <div class="d-grid gap-2 col-2 mx-auto">
            <button type="submit" class="btn btn-primary">Rechercher</button>
          </div>
        </form>
      </div>
    </div>
  </div>
<br>
<button class="btn btn-info" (click)="findAll()">Rafraîchir</button>
<br>
<table class="table align-items-center table-flush">
  <thead class="thead-light">
    <tr>
      <th scope="col">Nom</th>
      <th scope="col">Description</th>
      <th scope="col">Stock</th>
      <th scope="col">Modifier le stock</th>
      <th scope="col">Suppression</th>
    </tr>
  </thead>
  <tbody *ngFor="let m of medicaments">
    <tr>
      <th scope="row">
        {{m.nomMedicament}}
      </th>
      <td>
        {{m.descMedicament}}
      </td>
      <td>
        {{m.quantMedicament}}
      </td>
      <td>
        <div class="col-lg-6">
          <div class="input-group mb-3">
            <input type="number" class="form-control form-control-alternative" name="quantMed" [(ngModel)]="medicament.quantMedicament" placeholder="Combien ?" >
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" id="button-addon2" (click)="updateMedicament(m.idMedicament)">Modifier</button>
            </div>
          </div>
        </div>
      </td>
      <td>
        <button class="btn btn-danger" (click)="deleteMedicament(m.idMedicament)">Supprimer</button>
      </td>
    </tr>
  </tbody>
</table>