<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
  style="background-size: cover; background-position: center top;">
  <span class="mask bg-gradient-success opacity-8"></span>
</div>
<br>
<h3 style="text-align: center;">Ajouter une chambre</h3>
<br>
<form (ngSubmit)="saveChambre()">
  <div class="pl-lg-4">
    <div class="row">
      <div class="col-lg-4">
        <div class="form-group">
          <label class="form-control-label">Numero de chambre</label>
          <input type="text" class="form-control form-control-alternative" name="numChambre"
            [(ngModel)]="chambre.numChambre" placeholder="NumeroChambre">
        </div>
      </div>
      <div class="col-lg-4">
        <div class="form-group">
        </div>
      </div>
      <div styleclass="d-grid gap-2 col-1 mx-auto">
        <button class="btn btn-success">Ajouter</button>
      </div>
    </div>
  </div>
</form>
<br>
<h3 style="text-align: center;">Liste des chambres dans l'hopital</h3>
<br>
  <div class="row">
    <div class="col-lg-12">
      <div class="d-grid gap-2 col-6 mx-auto">
        <form (ngSubmit)="onSubmit()">
          <div>
            <label>Rechercher par numero de chambre</label>
            <input type="text" class="form-control form-control-alternative" name="numChambre" placeholder="Numero de la chambre" required [(ngModel)]="numChambre">
          </div>
          <br>
          <div class="d-grid gap-2 col-2 mx-auto">
            <button type="submit" class="btn btn-primary">Rechercher</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="d-grid gap-2 col-6 mx-auto">
        <form (ngSubmit)="onSubmitDispo()">
          <div>
            <label>Rechercher par disponibilité</label>
          </div>
          <br>
          <div class="d-grid gap-2 col-2 mx-auto">
            <button type="submit" class="btn btn-primary">Rechercher</button>
          </div>
        </form>
      </div>
    </div>
  </div>
<br>
<button class="btn btn-info" (click)="findAll()">Rafraîchir</button>
<br>
<table class="table align-items-center table-flush">
  <thead class="thead-light">
    <tr>
      <th scope="col">Numero de la chambre</th>
      <th scope="col">Disponibilité</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody *ngFor="let c of chambres">
    <tr>
      <th scope="row">
        {{c.numChambre}}
      </th>
      <td>
        {{c.dispoChambre}}
      </td>
      <td>
        <button class="btn btn-danger" (click)="deleteMedicament(c.idChambre)">Supprimer</button>
      </td>
    </tr>
  </tbody>
</table>