<div class="header bg-gradient-success pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row">
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <h2 class="card-title text-center mb-0">Bienvenue sur le site de notre hôpital</h2><br><br>
              <div class="row">
                <div class="col-xl-8">
                  <h1>Liens utiles</h1><br>
                </div>
              </div>
              <div class="row">
                <div class="col-auto">
                  <a class="dropdown-item" ></a>
                  <i class="ni ni-key-25"></i>
                </div>
                <div class="col-auto">
                  <a href="http://localhost:4200/#/login"><B>Login</B></a>
                </div>
              </div>
              <div class="row">
                <div class="col-auto">
                  <a class="dropdown-item" ></a>
                  <i class="ni ni-circle-08"></i>
                </div>
                <div class="col-auto">
                  <a href="http://localhost:4200/#/utilisateur"><B>Utilisateurs</B></a>
                </div>
              </div>
              <div class="row">
                <div class="col-auto">
                  <a class="dropdown-item" ></a>
                  <i class="ni ni-ambulance"></i>
                </div>
                <div class="col-auto">
                  <a href="http://localhost:4200/#/consultation"><B>Consultation</B></a>
                </div>
              </div>
              <div class="row">
                <div class="col-auto">
                  <a class="dropdown-item" ></a>
                  <i class="ni ni-credit-card"></i>
                </div>
                <div class="col-auto">
                  <a href="http://localhost:4200/#/facture"><B>Facture</B></a>
                </div>
              </div>
              <div class="row">
                <div class="col-auto">
                  <a class="dropdown-item" ></a>
                  <i class="ni ni-collection"></i>
                </div>
                <div class="col-auto">
                  <a href="http://localhost:4200/#/dossiermedical"><B>Dossier Medical</B></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>