<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 100px; background-size: cover; background-position: center top;">
    <span class="mask bg-gradient-danger opacity-8"></span>
</div>
<br>
<form>
    <div class="pl-lg-4">
      <div class="row">
        <div class="col-lg-6">
          <div class="form-group">
            <label class="form-control-label">Les soins prescrits</label>
            <input type="text" class="form-control form-control-alternative" placeholder="Soins prescrits">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form-group">
            <label class="form-control-label">Facture</label>
            <input type="text" class="form-control form-control-alternative" placeholder="Facture">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <div class="form-group">
            <label class="form-control-label">Consultation</label>
            <input type="number" class="form-control form-control-alternative" placeholder="Consultation">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <div class="form-group">
            <label class="form-control-label">Médicaments</label>
            <input type="text" class="form-control form-control-alternative" placeholder="Médicaments">
          </div>
        </div>
      </div>
    </div>
</form>
